[Unit]
Description=Node Exporter
After=network.target

[Service]
User={{ prometheus_ne_user }}
Group={{ prometheus_ne_user }}
Type=simple
ExecStart=/usr/local/bin/node_exporter --web.listen-address=localhost:9142

[Install]
WantedBy=multi-user.target